html {
    position:relative;
    min-height:100%;
}
body {    
    background-image:url("../images/bg.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-color:#ffffff;

    text-align:center;

    font-family:"Alegreya Sans","sans-serif";
    color:#333333;
    
    margin-bottom:100px;
}
#wrapper {
    width:800px;
    margin:auto;
    text-align:left;
}
header {
    font-family:"Indie Flower", cursive;
    font-size:20px;
    margin-bottom:100px;
}
header a {
    color:#333333;
    text-decoration:none;
}
header a:hover {
    text-decoration:none;
}
header h1 {
    text-align:center;
    font-size:60px;
}
header img {
    float:right;
    padding:20px;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
footer {
    position:absolute;
    bottom:0px;
    width:800px;
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
address {
    display:inline;
}
.langford {
    text-decoration:line-through;
}
.counter {
    display:inline-block;
    margin-top:50px;
    margin-bottom:50px;
    padding-top:5px;
    padding-bottom:20px;
    border-top-style:solid;
    border-top-width:1px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    font-size:2em;
    width:100%;
    text-align:center;
}
.counterItem {
    display:inline-block;
    width:1em;
    font-size:4em;
    text-align:right;
}
